Example outputs

some imports and opening up our results file

In [1]:
import tutorialworkflowresult
import postprocess
import pandas as pd
result = tutorialworkflowresult.load_cached_workflowresult("results/qaoa-opt-6a7c59a1-6f4c-42c0-95a4-e333a8d0b685_workflow_result.json")

For a sanity check, we can look at the different task types in our result file

In [2]:
pd.Series(postprocess.count_tasks(result))

generate-random-parameters    3
get-ansatz                    3
get-graph                     3
get-params-from-results       6
find-appropriate-params       9
get-maxcut-hamiltonian        3
dtype: int64

Now we can recreate the tables from the paper

In [3]:
df = postprocess.build_table(result)
# A little pandas magic to match the table format of the paper
df = df.reorder_levels([1,3,2,0])  # set the index order to match paper
df = df.unstack(fill_value=0).unstack(fill_value=0).unstack(fill_value=0)  # do some unstacking to move index "above" our table

df[10]

          high                     low                  random
          mean samples stdev      mean samples stdev      mean samples stdev
2.0 -10.677032     1.0   NaN -3.436315     1.0   NaN -7.493472     1.0   NaN

In [4]:
df[20]

          high                     low                   random
          mean samples stdev      mean samples stdev       mean samples stdev
2.0 -22.420159     1.0   NaN -7.193364     1.0   NaN -14.991227     1.0   NaN